.pageContainer{
    display: flex;
    flex-direction: column;
}

.Container{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}



.logo{
    height: auto;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.input{
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 25px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}